AWS_REGION=us-east-2
AWS_ID=PLEASE_CHANGE_ME
AWS_SECRET=PLEASE_CHANGE_ME
SQS_URL=https://sqs.us-east-2.amazonaws.com/PLEASE_CHANGE_ME/messages
SERVER_MAX_WORKERS=2
SERVER_IDLE_INTERVAL=1000
SERVER_LOG=server.log